.cabeçalho {
    width: 100%;
    height: 15%;
    border: solid #DCE1DE 2px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #49A078;
    transition: 1s ease-in-out ; 
    max-width: 100%;
    margin: 0px 0px 0px 0px;
}

.cabeçalho:hover{
    transition: 1s ease-in-out;
    background-color: #216869;
    color: #DCE1DE;
}