.footer{
    height: 6%;
    background-color: #1F2421;
    color: #49A078;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0;
    border: solid #DCE1DE 2px;
    border-radius: 10px;
}

.footer:hover{
    transition: 1s;
    background-color: #216869;
    color: #DCE1DE;;
}