.p1m {
    border: solid #DCE1DE 2px;
    border-radius: 10px;
    height: auto;
    width: auto;
    margin: 15px 15px 15px 15px;
    color: #49A078;
    transition: 1s ease-in-out;
    max-width: 780px;
}

.p1m:hover{
    transition: 1s ;
    transform: scale(1.05);
    background-color: #216869;
    color: #DCE1DE;
}


.p2m {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.p3m {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
}

.container1{
flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.container {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.p1m2 {
    border: solid #DCE1DE 2px;
    border-radius: 10px;
    height: auto;
    width: auto;
    margin: 25px;
    color: #49A078;
    transition: 1s ease-in-out;
}

.p1m2:hover{
    transition: 1s ;
    transform: scale(1.05);
    background-color: #216869;
    color: #DCE1DE;
}

.p4m {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 200px;
    margin: 5px 5px 5px 5px;
    border-radius: 0% 0% 10px 10px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
